.listeCat {
    height: 400px;
    overflow-y: scroll;
}

/* Redimensionnement des listes */

@media screen and (max-width: 630px) {
    .listeCat {
        width: 100% !important;
        overflow-x: scroll;
        font-size: 12px;
    }
}

@media screen and (min-width: 426px) and (max-width: 629.98px){
    .listeCat {
        width: 100% !important;
        overflow-x: scroll;
        font-size: 10px;
    }

}

@media screen and (max-width: 425px){
    .listeCat {
        width: 100% !important;
        overflow-x: scroll;
        font-size: 7px;
    }

}