.dash-col-right {
    height: 700px;
    overflow-y: scroll;
}

.dash-col-left {
    height: 700px;
}

.dashboard{
    padding: 5%;
}

@media screen and (max-width: 768px) {
    .dash-col-left {
        height: 400px;
    }
}